<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>SPF Monitoring</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="SPF Monitoring" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="https://cdn.fancygrid.com/fancy.min.css" rel="stylesheet">
    <script src="https://cdn.fancygrid.com/fancy.min.js"></script>
    <script src="https://cdn.fancygrid.com/jquery.sparkline.min.js"></script>

    <script>
        Fancy.MODULESDIR="https://cdn.fancygrid.com/modules/";
    </script>

    <!--<link rel="stylesheet" href="http://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">-->
    <!--<script defer src="http://use.fontawesome.com/releases/v5.3.1/js/all.js" integrity="sha384-kW+oWsYx3YpxvjtZjFXqazFpA7UP/MbiY4jvs+RWZo2+N94PFZ36T6TFkc9O3qoB" crossorigin="anonymous"></script>-->

    <link href="../../../../css/all.css" rel="stylesheet">
    <script src="../../../../js/all.js"></script>

    <link href="../../../../css/Site.css" rel="stylesheet">
</head>
<body>

<div id="wrapper">
    <nav class="navbar navbar-fixed-top spf_color">
        <div class="container-fluid header">
            <div class="navbar-header">
                <h1 class="header-title">
                    SPF Monitoring
                </h1>
            </div>

            <ul class="nav navbar-nav navbar-right header-navi">
                <li><a href="#" onclick="openAndCloseMessages()"><i class="fas fa-info-circle header-navi-icons"></i><span class="badge badge-primary">22</span></a></li>
                <li><a href="#" onclick="openAndCloseFilterbar()"><i class="fas fa-filter header-navi-icons"></i></a></li>
            </ul>
        </div>
        <div class="container-fluid filterbar" id="filterBar" style="display: none;">
            Filter Options:
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    Order by <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#" id="btn1">Select 1</a></li>
                    <li><a href="#" id="btn2">Select 2</a></li>
                    <li><a href="#" id="btn3">Select 3</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <section>
        <aside class="right_sidebar" id="messagesFrame" style="display: none">
            <div class="sidebar-header">
                <h2>Status feed</h2>
            </div>

            <div class="message-box">
                <div class="message-box-row">
                    <b>14:55:00 - EF Generator</b> Currently down, for more details check <a href="#">here</a>.
                </div>
                <div class="message-box-row row-dark">
                    <b>13:30:00 - PTOT Validate and Preview Bug</b> Validate and preview is currently not available cause of a bug. Orders can still be saved. Check for more details <a href="#">PTOT-1601</a>.
                </div>
                <div class="message-box-row">
                    <b>13:00:00 - high load today</b> Today we'll run a test with more than 10000 slips, which can cause high load in our system. we apologize and thank you for your understanding.
                </div>
                <div class="message-box-row row-dark">
                    <b>14:55:00 - EF Generator</b> Currently down, for more details check <a href="#">here</a>.
                </div>
                <div class="message-box-row">
                    <b>13:30:00 - PTOT Validate and Preview Bug</b> Validate and preview is currently not available cause of a bug. Orders can still be saved. Check for more details <a href="#">PTOT-1601</a>.
                </div>
                <div class="message-box-row row-dark">
                    <b>13:00:00 - high load today</b> Today we'll run a test with more than 10000 slips, which can cause high load in our system. we apologize and thank you for your understanding.
                </div>
                <div class="message-box-row">
                    <b>14:55:00 - EF Generator</b> Currently down, for more details check <a href="#">here</a>.
                </div>
                <div class="message-box-row row-dark">
                    <b>13:30:00 - PTOT Validate and Preview Bug</b> Validate and preview is currently not available cause of a bug. Orders can still be saved. Check for more details <a href="#">PTOT-1601</a>.
                </div>
                <div class="message-box-row">
                    <b>13:00:00 - high load today</b> Today we'll run a test with more than 10000 slips, which can cause high load in our system. we apologize and thank you for your understanding.
                </div>
            </div>
        </aside>
    </section>

    <section>
        <aside class="left_sidebar">

            <div class="user-box">
                <div class="user-box-info transparent">
                    <b>Karsten Mikulcak</b><br/>
                    karsten.mikulcak@gmail.com
                </div>
            </div>

            <div class="sidebar-header">
                <h3>Main Navigation</h3>
            </div>

            <ul>
                <li><a href="dashboard.html"><i class="fas fa-chart-line"></i>Dashboard</a></li>
                <li  class="active"><a href="listView.html"><i class="fas fa-th-list"></i>ListView</a></li>
            </ul>

            <div class="sidebar-header">
                <h3>Status Messages</h3>
            </div>

            <div class="message-box">
                <div class="message-box-row">
                    <b>14:55:00 - New PTOT Release!</b> Version 9.27 is live now. Check out the <a href="#">releasnotes</a>
                </div>
                <div class="message-box-row row-dark">
                    <b>13:30:00 - PTOT Manual</b> learn <a href="#">here</a>, how to generate E2E orders!
                </div>
                <div class="message-box-row">
                    <b>13:00:00 - MDLT at BrainMeUp</b> If you want to learn more about MDLT, meet us on 8th of October at the <a href="#">BrainMeUp</a> event.
                </div>
                <div class="message-box-row row-dark">
                    <b>14:55:00 - New PTOT Release!</b> Version 9.27 is live now. Check out the <a href="#">releasnotes</a>
                </div>
                <div class="message-box-row">
                    <b>13:30:00 - PTOT Manual</b> learn <a href="#">here</a>, how to generate E2E orders!
                </div>
                <div class="message-box-row row-dark">
                    <b>13:00:00 - MDLT at BrainMeUp</b> If you want to learn more about MDLT, meet us on 8th of October at the <a href="#">BrainMeUp</a> event.
                </div>
                <div class="message-box-row">
                    <b>14:55:00 - New PTOT Release!</b> Version 9.27 is live now. Check out the <a href="#">releasnotes</a>
                </div>
                <div class="message-box-row row-dark">
                    <b>13:30:00 - PTOT Manual</b> learn <a href="#">here</a>, how to generate E2E orders!
                </div>
                <div class="message-box-row">
                    <b>13:00:00 - MDLT at BrainMeUp</b> If you want to learn more about MDLT, meet us on 8th of October at the <a href="#">BrainMeUp</a> event.
                </div>
                <div class="message-box-row row-dark">
                    <b>14:55:00 - New PTOT Release!</b> Version 9.27 is live now. Check out the <a href="#">releasnotes</a>
                </div>
                <div class="message-box-row">
                    <b>13:30:00 - PTOT Manual</b> learn <a href="#">here</a>, how to generate E2E orders!
                </div>
                <div class="message-box-row row-dark">
                    <b>13:00:00 - MDLT at BrainMeUp</b> If you want to learn more about MDLT, meet us on 8th of October at the <a href="#">BrainMeUp</a> event.
                </div>
            </div>
        </aside>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>LISTVIEW</h2>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm12 col-xs-12">
                    <div class="block">
                        <div class="block-content-header">
                            <h2>States</h2>
                            <small>For detailed information, click on the specific row</small>
                        </div>
                        <div class="block-content-body">
                            <div id="dateGrid" style="width:100%;margin-top: -6px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- JavaScript jQuery code from Bootply.com editor  -->

<script type='text/javascript'>
    $(document).ready(function() {

    });

        var gData = [
                {
                    "masterID": "999",
                    "processingID": "999-abc",
                    "status": "Injected",
                    "timestamp": "2018-09-17T12:00:03",
                    "executedBy": "isenseef",
                    "paymentType": "Pain001"
                },
                {
                    "masterID": "999",
                    "processingID": "999-abc",
                    "status": "Generated",
                    "timestamp": "2018-09-17T12:00:02",
                    "executedBy": "isenseef",
                    "paymentType": "Pain001"
                },
                {
                    "masterID": "999",
                    "processingID": "999-abc",
                    "status": "Enriched",
                    "timestamp": "2018-09-17T12:00:01",
                    "executedBy": "isenseef",
                    "paymentType": "Pain001"
                },
                {
                    "masterID": "999",
                    "processingID": "999-abc",
                    "status": "Ordered",
                    "timestamp": "2018-09-17T12:00:00",
                    "executedBy": "isenseef",
                    "paymentType": "Pain001"
                },
                {
                    "masterID": "996",
                    "processingID": "996-cba",
                    "status": "Generated",
                    "timestamp": "2018-09-17T12:00:04",
                    "executedBy": "stalderp",
                    "paymentType": "Pain008"
                },
                {
                    "masterID": "996",
                    "processingID": "996-cba",
                    "status": "Enriched",
                    "timestamp": "2018-09-17T12:00:03",
                    "executedBy": "stalderp",
                    "paymentType": "Pain008"
                },
                {
                    "masterID": "996",
                    "processingID": "996-cba",
                    "status": "Ordered",
                    "timestamp": "2018-09-17T12:00:02",
                    "executedBy": "stalderp",
                    "paymentType": "Pain008"
                },
                {
                    "masterID": "996",
                    "processingID": "996-cbd",
                    "status": "Error",
                    "timestamp": "2018-09-17T12:00:05",
                    "executedBy": "stalderp",
                    "paymentType": "Pain008"
                },
                {
                    "masterID": "996",
                    "processingID": "996-cbd",
                    "status": "Ordered",
                    "timestamp": "2018-09-17T12:00:04",
                    "executedBy": "stalderp",
                    "paymentType": "Pain008"
                },{
                "masterID": "999",
                "processingID": "999-abc",
                "status": "Injected",
                "timestamp": "2018-09-17T12:00:03",
                "executedBy": "isenseef",
                "paymentType": "Pain001"
            },
            {
                "masterID": "999",
                "processingID": "999-abc",
                "status": "Generated",
                "timestamp": "2018-09-17T12:00:02",
                "executedBy": "isenseef",
                "paymentType": "Pain001"
            },
            {
                "masterID": "999",
                "processingID": "999-abc",
                "status": "Enriched",
                "timestamp": "2018-09-17T12:00:01",
                "executedBy": "isenseef",
                "paymentType": "Pain001"
            },
            {
                "masterID": "999",
                "processingID": "999-abc",
                "status": "Ordered",
                "timestamp": "2018-09-17T12:00:00",
                "executedBy": "isenseef",
                "paymentType": "Pain001"
            },
            {
                "masterID": "996",
                "processingID": "996-cba",
                "status": "Generated",
                "timestamp": "2018-09-17T12:00:04",
                "executedBy": "stalderp",
                "paymentType": "Pain008"
            },
            {
                "masterID": "996",
                "processingID": "996-cba",
                "status": "Enriched",
                "timestamp": "2018-09-17T12:00:03",
                "executedBy": "stalderp",
                "paymentType": "Pain008"
            },
            {
                "masterID": "996",
                "processingID": "996-cba",
                "status": "Ordered",
                "timestamp": "2018-09-17T12:00:02",
                "executedBy": "stalderp",
                "paymentType": "Pain008"
            },
            {
                "masterID": "996",
                "processingID": "996-cbd",
                "status": "Error",
                "timestamp": "2018-09-17T12:00:05",
                "executedBy": "stalderp",
                "paymentType": "Pain008"
            },
            {
                "masterID": "996",
                "processingID": "996-cbd",
                "status": "Ordered",
                "timestamp": "2018-09-17T12:00:04",
                "executedBy": "stalderp",
                "paymentType": "Pain008"
            },{
                "masterID": "999",
                "processingID": "999-abc",
                "status": "Injected",
                "timestamp": "2018-09-17T12:00:03",
                "executedBy": "isenseef",
                "paymentType": "Pain001"
            },
            {
                "masterID": "999",
                "processingID": "999-abc",
                "status": "Generated",
                "timestamp": "2018-09-17T12:00:02",
                "executedBy": "isenseef",
                "paymentType": "Pain001"
            },
            {
                "masterID": "999",
                "processingID": "999-abc",
                "status": "Enriched",
                "timestamp": "2018-09-17T12:00:01",
                "executedBy": "isenseef",
                "paymentType": "Pain001"
            },
            {
                "masterID": "999",
                "processingID": "999-abc",
                "status": "Ordered",
                "timestamp": "2018-09-17T12:00:00",
                "executedBy": "isenseef",
                "paymentType": "Pain001"
            },
            {
                "masterID": "996",
                "processingID": "996-cba",
                "status": "Generated",
                "timestamp": "2018-09-17T12:00:04",
                "executedBy": "stalderp",
                "paymentType": "Pain008"
            },
            {
                "masterID": "996",
                "processingID": "996-cba",
                "status": "Enriched",
                "timestamp": "2018-09-17T12:00:03",
                "executedBy": "stalderp",
                "paymentType": "Pain008"
            },
            {
                "masterID": "996",
                "processingID": "996-cba",
                "status": "Ordered",
                "timestamp": "2018-09-17T12:00:02",
                "executedBy": "stalderp",
                "paymentType": "Pain008"
            },
            {
                "masterID": "996",
                "processingID": "996-cbd",
                "status": "Error",
                "timestamp": "2018-09-17T12:00:05",
                "executedBy": "stalderp",
                "paymentType": "Pain008"
            },
            {
                "masterID": "996",
                "processingID": "996-cbd",
                "status": "Ordered",
                "timestamp": "2018-09-17T12:00:04",
                "executedBy": "stalderp",
                "paymentType": "Pain008"
            }];

        document.addEventListener("DOMContentLoaded", function() {
            new FancyGrid({
                renderTo: 'dateGrid',
                theme: 'gray',
                width: 'fit',
                height: 'fit',
                selModel: 'row',
                sortable: true,
                trackOver: true,
                data: gData,

                events: [{
                    rowclick: function(grid, o){
                        location.href = "detail.html";
                    },
                    scope: {}// not required
                },{
                    rowdblclick: function(grid, o){
                        location.href = "detail.html";
                    }
                }],

                columns: [{
                    type: 'order',
                    locked: true
                }, {
                    type: 'order',
                    rightLocked: true
                },{

                    index: 'masterID',
                    title: 'ID',
                    type: 'number',
                    flex: 1,
                    sortable: true,
                    render: function(o) {

                        o.style = {
                            'font-size': '14px'
                        };

                        return o;
                    },
                },{
                    index: 'processingID',
                    title: 'Processing ID',
                    type: 'string',
                    flex: 1,
                    sortable: true,
                    render: function(o) {

                        o.style = {
                            'font-size': '14px'
                        };

                        return o;
                    },
                },{
                    index: 'status',
                    title: 'Status',
                    type: 'string',
                    flex: 1,
                    sortable: true,
                    render: function(o) {

                        o.style = {
                            'font-size': '14px'
                        };

                        return o;
                    },
                },{
                    index: 'timestamp',
                    title: 'Timestamp',
                    type: 'string',
                    flex: 1,
                    sortable: true,
                    render: function(o) {

                        o.style = {
                            'font-size': '14px'
                        };

                        return o;
                    },
                },{
                    index: 'executedBy',
                    title: 'Executed By',
                    type: 'string',
                    flex: 1,
                    sortable: true,
                    render: function(o) {

                        o.style = {
                            'font-size': '14px'
                        };

                        return o;
                    },
                },{
                    index: 'paymentType',
                    title: 'Payment Type',
                    type: 'string',
                    flex: 1,
                    sortable: true,
                    render: function(o) {

                        o.style = {
                            'font-size': '14px'
                        };

                        return o;
                    },
                }]
            });

    });

    function openAndCloseFilterbar() {
        var x = document.getElementById("filterBar");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function openAndCloseMessages() {
        var x = document.getElementById("messagesFrame");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>

</body>
</html>